.coin-logo {
  margin-right: 20px;
}

.coin-actions button {
  margin-right: 4px;
}

.negative-value {
  color: #F62D2D;
}

.positive-value {
  color: #2E9F04;
}

.price-value {
  color: #33A5FF;
}



